h1 {
    position: fixed;
    top: 0px;
    background-color: #ffffff;
    color: #777777;
    width: 100%;
    height: 50px;
    text-align: center;
    top: 0px;
    z-index: 10;
    font-family: 'Times New Roman', Times, serif;
    }
    
    h2 {
        text-align: left;
        color: #4aaaa5;
        font-size: 25px;
     }
    
    body {
        font-family: Arial, Arial, Helvetica, sans-serif ;
        background: url(/aotolbert.github.io/images/background_pattern.png);
    }
    
    .background {
        position: fixed;
        width: 100%;
    }
    
    
    .boxed {
        border: 1px solid #cccccc;
        background-color: white;
        text-align: center;
        color: #777777;
        padding: 10px;
        position: relative;
    }
    
    .position1 {
        position: absolute;
        width: 80%;
        padding-top: 10px;
        margin-top: 15px;
        margin-left: 10%;
        height: 400px;
    }
    
    .position2 {
        position: fixed;
        width: 100%;
        bottom: 0px;
        background-color: #4aaaa5;
        margin-left: auto;
        margin-right: auto; 
        
    
    
    }
    
    .position3 {
        position: fixed;
        width: 100%;
        bottom: 0px;
        padding: 4pt;
        background-color: #666666;
        z-index: 5;
        color: white;
    }
    
    .position4 {
        text-align: justify;
        padding: 10pt;
        margin-top: 10px;
        height: 320px;
        font-size: larger;
        width: 90%;
        margin-left: auto;
        /* left: 0; */
        margin-right: auto;
        border: 1px solid #dddddd;
    }
    
    .profile {
        position: relative;
        margin-right: 15px;
        border: 2px solid #4aaaa5;
    
    }
    
    .paragraph {
        position: relative;
        align-content: right;
    
    }
    
    .links {
        padding-left: 20px;
        padding-top: 10px;
        margin-right: 100px;
        background-color: #ffffff;
        color: white;
        padding: 14px 25px;
        
        }
        
        a:hover, a:active {
            background-color: #dddddd;
        }
    
    
    .header {
        /* text-align: left; */
        /* vertical-align: middle; */
        position: absolute;
        background-color: #4aaaa5;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 26px;
        /* border: 2px solid #777777; */
        margin-left: 100px;
        top: 0px;
        color: white;
        font-size: 25px;
    }
    
    .position5 {
        width: 250px;
        position: fixed;
        right: 45px;
        height: 200px;
        top: 75px;
    
    }