a {
    text-decoration: none;
    color: black; 
}

a:hover {
    text-decoration:none;
 }

.carouselimage {
    height: 350px;
}

.resume {
    max-width: 1140px;
}

.portfolioicon {
    width:340px; 
    height:210px;

}

@media screen and (max-width: 992px) {
    .portfolioicon {
        width: 80%;
        margin-bottom: 15px;
        
        
    }
}

@media screen and (max-width: 768px) {
    .firstadjustment1 {
        height: 275px;
    }
    .firstadjustment2 {
        width: 100%
    }
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .secondadjustment1 {
        height: 225px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 350px) {
    .thirdadjustment1 {
        height: 175px;
    }
}